@import '../../../../custom.scss';
.cstm-menu{
    width: 100%;
    margin-left: 5px !important;
    position: relative !important;
}
.li-cstm{
    padding: 10px;
}
.active-title{
    color:whitesmoke !important;
}
.sembunyi{
    display: none;
}
.show{
    display: block;
}
.li-active{
    background-color: $primaryColor;
    color: white !important;
    max-width: 90%;
    border-radius: 10px;
}
.li-cstm:hover{
    background-color: rgba(115, 102, 255, 0.12);
    transition: all 0.3s ease;
    max-width: 90%;
    border-radius: 10px;
}
