.auth-help-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.kanan {
  position: absolute;
  right: 1px;
  bottom: 0px;
}

.login {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 140%;
  /* identical to box height, or 56px */

  letter-spacing: 0.005em;

  /* Black/80 */

  color: #4D5F6A;
}