<p-toast position="top-right"></p-toast>
<app-breadcrumb [title]="'Dashboard'" [active_item]="'Dashboard'"></app-breadcrumb>
<ul ngbNav #nav="ngbNav" [(activeId)]="active1" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Employee Data</a>
      <ng-template ngbNavContent>
       <div class="card">
        <div class="card-body ">
          <div class="row">
            <div class="col-lg-6 custom-font h5">Employee List</div>
            <div class="col-lg-6 d-flex justify-content-end ">
              <button class="btn btn-outline-primary p-2" (click)="queryParams('employee')"><i class="icofont icofont-ui-add" style="font-size: 14px;"></i> Create New</button>
            </div>
          </div>
          <div class="">
            <div class="mt-3">
            <p-table #dt1 [value]="customers1"  [(selection)]="selectedCustomer1" dataKey="id"  tableStyleClass="responsive-table-cstm" 
                [rows]="10" [rowsPerPageOptions]="[10,25,50]" [paginator]="true" stateStorage="local"  [loading]="isLoading" [scrollable]="true" >
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="username" style="max-width: 11rem !important;">Nama <p-sortIcon field="username"></p-sortIcon></th>
                        <th pSortableColumn="basicSalary" style="max-width: 13rem !important;">Gaji <p-sortIcon field="basicSalary"></p-sortIcon></th>
                        <th pSortableColumn="email" style="max-width: 20rem !important;">Email <p-sortIcon field="email"></p-sortIcon></th>
                        <th pSortableColumn="group" style="max-width:15rem !important;">Group <p-sortIcon field="group"></p-sortIcon></th>
                        <th style="max-width:1rem !important;">Aksi </th>
                    </tr>
                    <tr>
                        <th style="max-width: 11rem !important;" >
                            <input style="width: 8rem !important;"  pInputText type="text" (input)="dt1.filter($event.target.value, 'username', 'contains')" [value]="dt1.filters['username']?.value" placeholder="Search" class="p-column-filter" [(ngModel)]="namaQuery">
                        </th>
                        <th style="max-width: 13rem !important;">
                            <input style="width: 13rem !important;" pInputText type="number" (input)="dt1.filter($event.target.value, 'basicSalary', 'contains')" [value]="dt1.filters['basicSalary']?.value" placeholder="Search" class="p-column-filter" [(ngModel)]="gajiQuery">
                        </th>
                        <th style="max-width: 19rem !important;">
                            <input style="width: 18rem !important;" pInputText type="text" (input)="dt1.filter($event.target.value, 'email', 'contains')" [value]="dt1.filters['email']?.value" placeholder="Search" class="p-column-filter" [(ngModel)]="emailQuery">
                        </th>
                        <th style="max-width: 11rem !important;">
                            <input style="max-width: 10rem !important;" pInputText type="text" (input)="dt1.filter($event.target.value, 'group', 'contains')" [value]="dt1.filters['group']?.value" placeholder="Search" class="p-column-filter" [(ngModel)]="groupQuery">
                        </th>
                        <th style="max-width: 1rem !important;"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer>
                    <tr [pSelectableRow]="customer">
                        <td style="max-width: 11rem !important;">{{customer.username}}</td>
                        <td style="max-width: 13rem !important;">
                            <span class="">{{customer.basicSalary | currency:'Rp. ':'symbol':'1.0-0' }}</span>
                        </td>
                        <td style="max-width: 19rem !important;">
                            <span >{{customer.email}}</span>
                        </td>
                        <td style="max-width: 15rem !important;">
                            <span>{{customer.group}}</span>
                            
                        </td>
                        <td style="max-width: 1rem !important;">
                            <button class="btn btn-sm btn-outline-info" (click)="queryParams('user', customer.username)"><i class="icofont icofont-id-card" style="font-size: 17px;"></i></button>
                            <button class="btn btn-sm btn-warning" (click)="openXL(editData); getData(customer.email)" style="margin-left:5px"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                            <button class="btn btn-sm btn-danger" style="margin-left:5px" (click)="open(deleteData, customer.email)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="4">No Employee found.</td>
                    </tr>
                </ng-template>
            </p-table>
          </div>
        </div>
        </div>
       </div>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
  <ng-template #newData let-c="close">
  <div class="modal-body custom-font">
    <p class="h5">New Employee Data</p>
    <form>
      <div class="row mt-4">
        <div class="col-lg-6">
          <div class="mb-3">
            <label for="firstName" class="form-label">Full Name</label>
            <div class="input-group">
              <input  type="text" class="form-control" id="firstName" placeholder="First Name">
              <input  type="text" class="form-control" id="lastName" placeholder="Last Name">
            </div>
          </div>

          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input  type="text" class="form-control" id="username" placeholder="Username">
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input  type="email" class="form-control" id="email" placeholder="email">
          </div>
          <div class="p-fluid grid formgrid">
            <div class="field col-12 md:col-4">
              <label for="dateformat">DateFormat</label>
              <p-calendar [(ngModel)]="tanggal" dateFormat="dd-mm-yy" placeholder="Select Date" inputId="dateformat" [readonlyInput]="true" [maxDate]="minimumDate" [readonlyInput]="true"></p-calendar>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="grid p-fluid">
            <div class="field col-12 md:col-3">
                <label for="currency-us">Basic Salary</label>
                <p-inputNumber [(ngModel)]="salary" inputId="currency-us" mode="currency" currency="IDR" locale="id-ID" placeholder="Basic Salary">
                </p-inputNumber>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-lg-6 col-6">
          <button type="button" class="btn btn-outline-success" hidden></button>
          <button type="button" class="btn btn-outline-danger btn-lg w-100" (click)="c()">Cancel</button>
        </div>
        <div class="col-lg-6 col-6">
          <button type="button" class="btn btn-primary btn-lg w-100">Yes, Add Data</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>


<ng-template #editData let-c="close" >
	<div class="modal-body custom-font">
		<p class="h5">Edit Data</p>
    <form [formGroup]="editDataUser">
    <div class="form-row mt-4">
      <div class="col-lg-6">
          <div class="mb-3">
            <label for="Networkaddress" class="form-label">Username</label>
            <input  type="text" class="form-control" placeholder="Username" formControlName="username">
          </div>

          <div class="mb-3">
            <label for="Networkaddress" class="form-label">Umur</label>
            <input  type="number" class="form-control" placeholder="Umur" formControlName="age">
          </div>
      </div>
      <div class="col-lg-6">
          <div class="mb-3">
            <label for="Networkaddress" class="form-label">Email</label>
            <input  type="email" class="form-control" placeholder="Email" formControlName="email" readonly (click)="cantEdit()">
          </div>

          <div class="mb-3">
            <label for="Networkaddress" class="form-label">Gaji</label>
            <input  type="text" class="form-control" placeholder="Gaji" [value]="editDataUser.get('basicSalary').value | currency:'Rp. ':'symbol':'1.0-0'" readonly (click)="cantEdit()">
          </div>
      </div>
      </div>
    </form>
    <div class="row">
        <div class="col-lg-6 col-6">
          <button type="button" class="btn btn-outline-success" hidden></button>
          <button type="button" class="btn btn-outline-danger btn-lg w-100"  (click)="c()">Cancel</button>
        </div>
        <div class="col-lg-6 col-6">
          <button type="button" class="btn btn-primary btn-lg w-100" (click)="c();ubahData();">Update Data</button>
        </div>
    </div>
	</div>
</ng-template>

<ng-template #deleteData let-c="close">
	<div class="modal-body custom-font">
		<p class="h5">Hapus Data Karyawan</p>
    <small class="h6 ">Apa kamu yakin?</small>
    <div class="row mt-4">
      <div class="col-lg-6 col-6">
        <button type="button" class="btn btn-outline-success" hidden></button>
        <button type="button" class="btn btn-outline-danger btn-lg w-100"  (click)="c()">Batal</button>
        </div>
        <div class="col-lg-6 col-6">
        <button type="button" class="btn btn-danger btn-lg w-100" (click)="c();hapus();">Ya, Hapus</button>
      </div>
    </div>
	</div>
</ng-template>
