::ng-deep .responsive-table-cstm {
  min-width: 100% !important;
}
::ng-deep .p-inputtext {
  padding: 6px !important;
}
::ng-deep .invalid {
  color: red !important;
  margin-top: 3px;
}
@media only screen and (max-width: 600px) {
  ::ng-deep .responsive-table-cstm {
    min-width: 85rem !important;
  }
}
