<ng-container *ngIf="isValidURL == 'employee'; else Invalid">
  <p-toast position="top-right"></p-toast>
  <app-breadcrumb [title]="'Add Employee'" [items]="['Dashboard']" [active_item]="'Add Employee'"></app-breadcrumb>
  <div class="container-fluid">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <div class="card">
            <div class="card-body text-black">
              <h4 class="text-center">Add Employee Form</h4>
              <div class="row mt-4 px-3">
                <div class="col-lg-6 pr-2">
                  <div class="mb-3">
                    <label for="firstName" class="form-label">Full Name</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="firstName" placeholder="First Name"
                        formControlName="firstName">
                      <input type="text" class="form-control" id="lastName" placeholder="Last Name"
                        formControlName="lastName">
                    </div>
                    <ng-container *ngIf="validate">
                      <small *ngIf="form.controls['firstName']?.invalid || form.controls['lastName']?.invalid"
                        class="invalid"> Firstname & Fullname Field is Required!</small>
                    </ng-container>
                  </div>

                  <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username"
                      formControlName="username">
                    <small *ngIf="form.controls['username']?.invalid && validate" class="invalid"> Username Field is
                      Required!</small>
                  </div>

                  <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="email" formControlName="email">
                    <small *ngIf="form.controls['email']?.invalid && validate" class="invalid"> Email is Required and
                      Input must be Email!</small>
                  </div>

                  <div class="p-fluid grid formgrid">
                    <div class="field col-12 md:col-4">
                      <label for="dateformat">Birth Date</label>
                      <p-calendar formControlName="birthDate" dateFormat="dd-mm-yy" placeholder="Select Date"
                        inputId="dateformat" [readonlyInput]="true" [maxDate]="minimumDate"
                        [readonlyInput]="true"></p-calendar>
                    </div>
                    <small *ngIf="form.controls['birthDate']?.invalid && validate" class="invalid"> BirthDate is
                      Required !</small>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="grid p-fluid mb-3">
                    <div class="field col-12 md:col-3">
                      <label for="currency-us">Basic Salary</label>
                      <p-inputNumber inputId="currency-us" mode="currency" currency="IDR" locale="id-ID"
                        placeholder="Basic Salary" formControlName="basicSalary">
                      </p-inputNumber>
                    </div>
                    <small *ngIf="form.controls['basicSalary']?.invalid && validate" class="invalid"> Basic is Required
                      !</small>
                  </div>

                  <div class="grid p-fluid mb-3">
                    <div class="field col-12 md:col-3">
                      <label for="currency-us">Select Group</label>
                      <p-dropdown optionValue="value" [options]="category" formControlName="group"
                        placeholder="Select Category" [filter]="true" filterBy="name" optionLabel="name"
                        [showClear]="true"></p-dropdown>
                    </div>
                    <small *ngIf="form.controls['group']?.invalid && validate" class="invalid"> Group is Required
                      !</small>
                  </div>

                  <div class="grid p-fluid mb-3">
                    <div class="field col-12 md:col-3">
                      <label for="currency-us">Select Status</label>
                      <p-dropdown optionValue="value" [options]="status" formControlName="status"
                        placeholder="Select Status" [filter]="true" filterBy="name" optionLabel="name"
                        [showClear]="true"></p-dropdown>
                    </div>
                    <small *ngIf="form.controls['status']?.invalid && validate" class="invalid"> Status is Required
                      !</small>
                  </div>

                  <div class="p-fluid grid formgrid">
                    <div class="field col-12 md:col-4">
                      <label for="dateformat">Description</label>
                      <p-calendar dateFormat="dd-mm-yy" formControlName="description" placeholder="Select Date"
                        inputId="dateformat" [readonlyInput]="true" [minDate]="minimumDate"
                        [readonlyInput]="true"></p-calendar>
                    </div>
                    <small *ngIf="form.controls['description']?.invalid && validate" class="invalid"> Description is
                      Required !</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center mt-4">

            <button class="btn btn-outline-danger mx-2 w-100" (click)="cancel()">Cancel</button>
            <button class="btn btn-primary mx-2 w-100" [disabled]="loading" (click)="onSubmit()"><span *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"></span>Save</button>
          </div>


        </div>
      </div>
    </form>
  </div>
</ng-container>

<ng-template #Invalid>
  <h6 class="text-center" style="margin-top:35px">Invalid URL atau Anda Tidak Punya Akses!</h6>
</ng-template>