<!-- footer start-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 footer-copyright text-center">
      <p class="mb-0">Copyright {{ today | date:'y'}} © SIPMA Bank Mandiri by <a href="https://wa.me/6285885881998" target="_blank">Me</a> </p>
    </div>
  </div>
</div>