<div class="media profile-media" (click)="aktif()">
  <img class="b-r-5" src="https://i.ibb.co/1JvWhV4/mndiri.jpg" height="auto" width="55px" alt="Avatar">
  <div class="media-body"><span>{{ userName }}</span>
    <p class="mb-0 font-roboto">User <i class="middle fa fa-angle-down"></i></p>
  </div>
</div>
<ul class="profile-dropdown onhover-show-div" [class]="openMenu ? 'active' : '' " style="margin-top:-35px">
  <li (click)="logoutFunc()"><app-feather-icons [icon]="'log-in'"></app-feather-icons><span>Log out</span></li>
</ul>