<ng-container *ngIf="isValidURL == 'user'; else Invalid">
  <p-toast position="top-right"></p-toast>
  <app-breadcrumb [title]="'Detail Information'" [items]="['Dashboard']"
    [active_item]="'Detail Information'"></app-breadcrumb>
  <div class="container-fluid">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <div class="card">
            <div class="card-body">
              <h4 class="text-center text-black">Detail Information Emloyee</h4>
              <div class="row mt-4 px-3">
                <div class="col-lg-6 pr-2 text-black">
                  <div class="mb-3">
                    <label for="fullname" class="form-label">Fullname</label>
                    <input readonly type="text" class="form-control" id="fullname" placeholder="fullname"
                      [value]="form.controls['firstName'].value + ' '+form.controls['lastName'].value ">
                  </div>

                  <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input readonly type="text" class="form-control" id="email" placeholder="email"
                      formControlName="email">
                  </div>

                  <div class="mb-3">
                    <label for="birthDate" class="form-label">Birth Date</label>
                    <input readonly type="text" class="form-control" id="birthDate" placeholder="birthDate"
                      formControlName="birthDate">
                  </div>

                  <div class="mb-3">
                    <label for="basicSalary" class="form-label">Basic Salary</label>
                    <input readonly type="text" class="form-control" id="basicSalary"
                      [value]="form.get('basicSalary').value | currency:'Rp. ':'symbol':'1.0-0'">
                  </div>
                </div>

                <div class="col-lg-6 text-black">
                  <div class="mb-3">
                    <label for="age" class="form-label">Age</label>
                    <input readonly type="text" class="form-control" id="age" placeholder="age" formControlName="age">
                  </div>

                  <div class="mb-3">
                    <label for="group" class="form-label">Group</label>
                    <input readonly type="text" class="form-control" id="group" placeholder="group"
                      formControlName="group">
                  </div>

                  <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input readonly type="text" class="form-control" id="description" placeholder="description"
                      formControlName="description">
                  </div>

                  <div class="mb-3">
                    <label for="status" class="form-label">Status</label>
                    <input readonly type="text" class="form-control" id="status" placeholder="status"
                      [value]="form.controls.status.value != true ? 'Not Active' : 'Active'">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center mt-2 mb-2">
            <button class="btn btn-outline-primary mx-2 w-100" (click)="cancel()">O K</button>
          </div>


        </div>
      </div>
    </form>
  </div>
</ng-container>

<ng-template #Invalid>
  <h6 class="text-center" style="margin-top:35px">Invalid URL atau Anda Tidak Punya Akses!</h6>
</ng-template>