<app-breadcrumb [title]="'Tag and Pills'" [items]="['Ui Kits']" [active_item]="'Tag and Pills'"></app-breadcrumb>
<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-xl-6">
      <div class="card">
        <div class="card-header">
          <h5>Contextual variations</h5>
        </div>
        <div class="card-body"><span class="badge badge-primary">Primary</span><span
            class="badge badge-secondary">Secondary</span><span class="badge badge-success">Success</span><span
            class="badge badge-info">Info</span><span class="badge badge-warning">Warning</span><span
            class="badge badge-danger">Danger</span><span class="badge badge-light">Light</span><span
            class="badge badge-dark tag-pills-sm-mb">Dark</span></div>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6">
      <div class="card">
        <div class="card-header">
          <h5>Contextual variations</h5>
        </div>
        <div class="card-body"><span class="badge rounded-pill badge-primary">Primary</span><span
            class="badge rounded-pill badge-secondary">Secondary</span><span
            class="badge rounded-pill badge-success">Success</span><span
            class="badge rounded-pill badge-info">Info</span><span
            class="badge rounded-pill badge-warning">Warning</span><span
            class="badge rounded-pill badge-danger">Danger</span><span
            class="badge rounded-pill badge-light">Light</span><span
            class="badge rounded-pill badge-dark tag-pills-sm-mb">Dark</span></div>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6">
      <div class="card">
        <div class="card-header">
          <h5>Tags with number</h5>
        </div>
        <div class="card-body digits"><a class="badge badge-primary"  href="javascript:void(0)">1</a><a class="badge badge-secondary"
             href="javascript:void(0)">2</a><a class="badge badge-success"  href="javascript:void(0)">3</a><a class="badge badge-info"  href="javascript:void(0)">4</a><a
            class="badge badge-warning"  href="javascript:void(0)">5</a><a class="badge badge-danger"  href="javascript:void(0)">6</a><a
            class="badge badge-light"  href="javascript:void(0)">7</a><a class="badge badge-dark"  href="javascript:void(0)">8</a></div>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6">
      <div class="card">
        <div class="card-header">
          <h5>Pills with number</h5>
        </div>
        <div class="card-body digits"><span class="badge rounded-pill badge-primary">1</span><span
            class="badge rounded-pill badge-secondary">2</span><span class="badge rounded-pill badge-success">3</span><span
            class="badge rounded-pill badge-info">4</span><span class="badge rounded-pill badge-warning">5</span><span
            class="badge rounded-pill badge-danger">6</span><span class="badge rounded-pill badge-light">7</span><span
            class="badge rounded-pill badge-dark">8</span></div>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6">
      <div class="card">
        <div class="card-header">
          <h5>Tags With icon</h5>
        </div>
        <div class="card-body pill-icon"><a class="badge badge-primary"  href="javascript:void(0)">
            <app-feather-icons [icon]="'dollar-sign'"></app-feather-icons>
          </a><a class="badge badge-secondary"  href="javascript:void(0)">
            <app-feather-icons [icon]="'headphones'"></app-feather-icons>
          </a><a class="badge badge-success"  href="javascript:void(0)">
            <app-feather-icons [icon]="'link'"></app-feather-icons>
          </a><a class="badge badge-info"  href="javascript:void(0)">
            <app-feather-icons [icon]="'github'"></app-feather-icons>
          </a>
          <a class="badge badge-warning"  href="javascript:void(0)">
            <app-feather-icons [icon]="'award'"></app-feather-icons>
          </a><a class="badge badge-danger"  href="javascript:void(0)">
            <app-feather-icons [icon]="'activity'"></app-feather-icons>
          </a><a class="badge badge-light"  href="javascript:void(0)">
            <app-feather-icons [icon]="'heart'"></app-feather-icons>
          </a><a class="badge badge-dark"  href="javascript:void(0)">
            <app-feather-icons [icon]="'mail'"></app-feather-icons>
          </a></div>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6">
      <div class="card">
        <div class="card-header">
          <h5>Pills with Icon</h5>
        </div>
        <div class="card-body pill-icon"><a class="badge rounded-pill badge-primary"  href="javascript:void(0)">
            <app-feather-icons [icon]="'dollar-sign'"></app-feather-icons>
          </a><a class="badge rounded-pill badge-secondary"  href="javascript:void(0)">
            <app-feather-icons [icon]="'headphones'"></app-feather-icons>
          </a><a class="badge rounded-pill badge-success"  href="javascript:void(0)">
            <app-feather-icons [icon]="'link'"></app-feather-icons>
          </a><a class="badge rounded-pill badge-info"  href="javascript:void(0)">
            <app-feather-icons [icon]="'github'"></app-feather-icons>
          </a>
          <a class="badge rounded-pill badge-warning"  href="javascript:void(0)">
            <app-feather-icons [icon]="'award'"></app-feather-icons>
          </a><a class="badge rounded-pill badge-danger"  href="javascript:void(0)">
            <app-feather-icons [icon]="'activity'"></app-feather-icons>
          </a><a class="badge rounded-pill badge-light"  href="javascript:void(0)">
            <app-feather-icons [icon]="'heart'"></app-feather-icons>
          </a><a class="badge rounded-pill badge-dark"  href="javascript:void(0)">
            <app-feather-icons [icon]="'mail'"></app-feather-icons>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6">
      <div class="card height-equal">
        <div class="card-header">
          <h5>Badges Example</h5>
        </div>
        <div class="card-body">
          <h1>heading <span class="badge badge-primary">New</span></h1>
          <h2>heading <span class="badge badge-primary">New</span></h2>
          <h3>heading <span class="badge badge-primary">New</span></h3>
          <h4>heading <span class="badge badge-primary">New</span></h4>
          <h5>heading <span class="badge badge-primary">New</span></h5>
          <h6>heading <span class="badge badge-primary">New</span></h6>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-xl-6">
      <div class="card height-equal">
        <div class="card-header">
          <h5>Badges as part buttons</h5>
        </div>
        <div class="card-body">
          <div class="mb-3">
            <button class="btn btn-primary" type="button">Messages <span class="badge rounded-pill badge-light">
                <app-feather-icons [icon]="'mail'"></app-feather-icons>
              </span></button>
          </div>
          <div class="mb-3">
            <button class="btn btn-secondary" type="button">Notifications <span class="badge rounded-pill badge-light">
                <app-feather-icons [icon]="'bell'"></app-feather-icons>
              </span></button>
          </div>
          <div class="mb-3">
            <button class="btn btn-success" type="button">Update available <span class="badge rounded-pill badge-light">
                <app-feather-icons [icon]="'settings'"></app-feather-icons>
              </span></button>
          </div>
          <div class="mb-3">
            <button class="btn btn-info" type="button">Playing Now <span class="badge rounded-pill badge-light">
                <app-feather-icons [icon]="'music'"></app-feather-icons>
              </span></button>
          </div>
          <div class="mb-3">
            <button class="btn btn-warning" type="button">1.2 GB Used <span class="badge rounded-pill badge-light">
                <app-feather-icons [icon]="'alert-triangle'"></app-feather-icons>
              </span></button>
          </div>
          <div>
            <button class="btn btn-danger" type="button">Alert <span class="badge rounded-pill badge-light">
                <app-feather-icons [icon]="'alert-circle'"></app-feather-icons>
              </span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->