// Variables
$primaryColor: #114A97;
$secondaryColor: #4D5F6A;
$font: 'Poppins';
$small: 450px;
$large:600px;
// End Variable
.pointer{
    cursor: pointer;
}
.custom-font{
 font-family: $font !important;
}
.siderbar-link .active{
    background-color: $primaryColor !important;
}

// .btn-primary{
//     background-color: $primaryColor !important;
//     color: white !important;
// }
